

         
          #order1{
           padding-right: 20px;
           margin-top: 20px;
           
          }
         
           .thandlabel{
            font-weight: bold;
            color: #810000;
            text-align: center;
          }
          .inputt{
                     border-radius: 5px;
                     height: 40px;
          }
          .inputtt{
            border-radius: 5px;
            height: 80px;
          }
          .inputtbtn{
            text-align: center;
          }

        

 
       